{% load static %}
<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <title> MDF </title>
    <!-- Stylesheets -->


	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href='{% static "stylescss/responsive.css" %}'>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    	<link rel="stylesheet" href='{% static "styles/bootstrap.css" %}'>
        <link rel="stylesheet" href='{% static "styles/style.css" %}'>
        <link rel="stylesheet" href='{% static "styles/revolution-slider.css" %}'>
        <link rel="stylesheet" href='{% static "styles/animate.css" %}'>
        <link rel="stylesheet" href='{% static "styles/font-awesome.css" %}'>
         <link rel="stylesheet" href='{% static "styles/owl.css" %}'>
          <link rel="stylesheet" href='{% static "styles/responsive.css" %}'>

    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body>
    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Header top area-->
        <header class="main-header header-style-one">
            <section class="header-top">
                <div class="container">  
                    <div class="header">
                        <div class="header-top-left">
                            <ul>
                             <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                        </div>
                        <div class="header-top-right">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> mannersdevelopementfoundation@gmail.com</a></li>
                                <li><p><i class="fa fa-phone" aria-hidden="true"></i>+234-803 3083 888, +234-809 2211 445</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--/header_top_area-->

            <!--/Header Top-->
            <section class="mainmenu-area">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li class="current dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>                            
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="mobile-menu clearfix">

                            <li><a href="index.html">Home</a></li>
                            <li class="current dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>                            
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                   
                </div>
            </section>
            <!--Main-Mane-->
            <section class="bounce-in-header">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">Home</a></li>

                            <li class="current dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>

                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>

                        <ul class="mobile-menu clearfix">

                            <li><a href="index.html">Home</a></li>
                            <li class="current dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>

                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>                            
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                </div>
            </section>
            <!--/Main-Menu-->
        </header>
        <!--Start slider-section-->
        <section class="slider-section" style="background-image:url(images/gallery/background.jpeg);">
            <div class="container">
                <div class="slider">
                    <div class="text team-light">
                        <h2>our <span>recent</span> Activities</h2>
                        <p><a href="index.html">Home</a> <i class="fa fa-angle-right" aria-hidden="true"></i> Activities</p>
                    </div>
                </div>
            </div>
        </section> 
        <!--End slider-section-->
        <!--.welcome-seciton-->
        <section class="welcome-seciton page-causes">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/school.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">E-Learning Program</span></a></h4> 
                                </div> 
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    <h4>Arabic & Quranic Online Learning Program</h4>
                                    </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                                
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/barb.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">VOCATIONAL STUDIES</a></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    
                                    <h4>Hairdressing & Barbing </h4>

                                </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                                
                                
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/idp.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">Agriculture</span></a></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    <h4>Agriculture & livestock Farming</h4>
                                   
                                </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/borehole1.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">Welfare</span></a></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    
                                    <h4>Ramadan Program</h4>
                                </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                               
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>


                </div>


                <div class="row">
                 
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/borehole1.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">Outreach Program</span></a></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    
                                    <h4>Community Outreach by MDF</h4>
                                </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                               
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure><a href="single-causes.html"><img src="images/gallery/borehole1.jpeg" alt="Images"></a></figure>
                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4><a href="single-causes.html">Projects</span></a></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    
                                    <h4>MDF Projects</h4>
                                </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">
                                            
                                        </div>
                                    </div>
                                    <!-- /progress-item -->
                               
                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>

                </div>
              
                <div class="page-list">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" class="next">next</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--/wellcome-seciton-->
       
{% include "footer.html" %}