{% load static %}
<!--.footer-section-->

        <footer class="footer-section widget">
            <div class="container ">
                
                    <div class="footer-item">
                        
                        
                            
                                <h2>Information</h2>
                                
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.24 Matadi Street, Zone 3 , Wuse.Abuja  </h5>
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.89, Randle Avenue Surulere. Lagos.  </h5>
                                <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>mannersdevelopementfoundation@gmail.com</h5>
                                <h5><i class="fa fa-phone" aria-hidden="true"></i>+234-8033083888, +234-8092211445</h5>
                            
                        

                        
                    </div>
                
            </div>
        <div class="footer-bottom">
            <p><span><a target="_blank" href="{% url 'home'%}">Manners Development Foundation</a></span> </p>
        </div>
    </footer>
    <!--/footer-section-->

    </div>
    <!--Page Wrapper End-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/html5lightbox/html5lightbox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/revolution.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>












</body>


</html>