<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

                            <h6>Educational</h6>
                            <p>
                                <ul>
                                    <li>Arabic & Quranic Online Learning Program</li>
                                    <li>Computer Training</li>
                                </ul>
                            </p>


                            <h6>Vocational Studies</h6>
                            <p>
                                <ul>
                                    <li>Tailoring with African picture</li>
                                    <li>Hairdresser & Barbering with pictures for both</li>
                                    <li>Agricultural
                                        <ul>
                                            <li>Livestocks</li>
                                            <li>Fish Production</li>
                                            <li>Crop farming</li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>


                            <h6> Welfare</h6>
                            <p>
                                <ul>
                                    <li>Kafalat Aytaam</li>
                                    <li>Food package & medical palliatives for less privilege.</li>
                                    <li>Boreholes for deprived Areas</li>
                                </ul>
                            </p>


                            <h6>Daily Arabic and Quranic E-Learning Program (DAQELP)</h6>
                            <p>DAQELP is a daily Arabic and Quranic program that teaches how to 
                                read and write Arabic Language and perfect recitation of the Holy
                                 Quran within a short period of time, even without prior knowledge. 
                                 The program is well organized to facilitate learning process for
                                  underprivileged individuals who are either novice or slow Arabic language readers.
                                   In addition, Arabic alphabets and signs, such as Fatha, Kasroh, Dommah, Sukun,
                                    Fathatan, Kasrotan, Dommatan, Sukun, Alif Modd, Wao Modd, Yao Modd, 
                                    and Shaddah are also parts of our priorities. Therefore, we strongly 
                                    believe that this program will strengthen the participants’ knowledge in 
                                    reading and understanding Arabic and Qur’an. The MDF is working in collaboration
                                     with some  Arab countries to bring in competent and professional 
                                foreign teachers to attain the Mission and Vision of the MDF. </p>

</body>
</html>