{% load static %}
<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <title> MDF </title>
    <!-- Stylesheets -->


	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href='{% static "stylescss/responsive.css" %}'>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    	<link rel="stylesheet" href='{% static "styles/bootstrap.css" %}'>
        <link rel="stylesheet" href='{% static "styles/style.css" %}'>
        <link rel="stylesheet" href='{% static "styles/revolution-slider.css" %}'>
        <link rel="stylesheet" href='{% static "styles/animate.css" %}'>
        <link rel="stylesheet" href='{% static "styles/font-awesome.css" %}'>
         <link rel="stylesheet" href='{% static "styles/owl.css" %}'>
          <link rel="stylesheet" href='{% static "styles/responsive.css" %}'>

    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>
<body>
    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!--Header top area-->
        <header class="main-header header-style-one">
            <section class="header-top">
                <div class="container">
                    <div class="header">
                        <div class="header-top-left">
                            <ul>
                             <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                        </div>
                        <div class="header-top-right">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> mannersdevelopementfoundation@gmail.com</a></li>
                                <li><p><i class="fa fa-phone" aria-hidden="true"></i>+234-803 3083 888, +234-809 2211 445</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--/header_top_area-->

            <!--/Header Top-->
            <section class="mainmenu-area">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="{% url 'home'%}"><img src="{% static 'images/logo.png'%}" alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class=" dropdown"><a href="{% url 'home'%}">Home</a></li>
                            <li class="current dropdown"><a href="#">Activities</a>
                                <ul>
                                    <li><a href="{%url 'post_onlinelearning'  %}">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="{% url 'post_hair'%}"> Hairdressing & Barbing </a></li>
                                    <li><a href="{% url 'post_agriculture'%}"> Agriculture & livestock Farming </a></li>
                                    <li><a href="{% url 'post_ramadan'%}">Ramadan Program</a></li>
                                    <li><a href="{% url 'post_outreach'%}"> Community Outreach by MDF </a></li>
                                    <li><a href="{% url 'post_mdfprojects' %}"> MDF Projects </a></li>
                                </ul>
                            </li>
                              <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>



                        </ul>
                        <ul class="mobile-menu clearfix">

                            <li ><a href="{%url 'home'%}">Home</a></li>
                            <li class="dropdown"><a href="#">Activities</a>
                                 <ul>
                                    <li class="current dropdown"><a href="{%url 'post_onlinelearning'  %}">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="{% url 'post_hair'%}"> Hairdressing & Barbing </a></li>
                                    <li><a href="{% url 'post_agriculture'%}"> Agriculture & livestock Farming </a></li>
                                    <li><a href="{% url 'post_ramadan'%}">Ramadan Program</a></li>
                                    <li><a href="{% url 'post_outreach'%}"> Community Outreach by MDF </a></li>
                                    <li><a href="{% url 'post_mdfprojects' %}"> MDF Projects </a></li>
                                </ul>
                            </li>
                        <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </nav>

                </div>
            </section>
            <!--/Main-Menu-->
        </header>

        <!--Start slider-section-->
         <section class="slider-section" style="background-image:url(/static/images/gallery/background.jpeg);">
            <div class="container">
                <div class="slider">
                    <div class="text team-light">
                        <h2><span>Outreach</span> Activities</h2>
                        <p><a href="index.html">Home</a> <i class="fa fa-angle-right" aria-hidden="true"></i> Activities</p>
                    </div>
                </div>
            </div>
        </section> 
        <!--End slider-section-->
       <!--.welcome-seciton-->
        <section class="welcome-seciton page-causes">
            <div class="container">
                <div class="row">
                         {% for posts in post %}
                    <a href="{% url 'outreach_post' posts.id %}">
                    <div class="col-md-3 col-sm-6 col-xs-12">

                        <!-- Start single-item -->
                        <div class="welcome-item hvr-float-shadow">
                            <div class="img-holder">
                               <figure> <img src="{{posts.imageURL}}" alt="Images" /></figure>

                                <!-- Start overlay -->
                                <div class="overlay">
                                    <h4>{{posts.back_ground_img_title }}</span></h4>
                                </div>
                                <!-- End overlay -->
                            </div>
                            <div class="text">
                                <div class="pro-text">
                                    <h4>{{posts.heading }}</h4>
                                    </div>
                                    <!--.progress-item -->
                                    <div class="causes-progress">
                                        <div class="progress-item">

                                        </div>
                                    </div>
                                    <!-- /progress-item -->

                            </div>
                        </div>
                        <!-- End single-item -->
                    </div>
                        </a>
                         {% endfor %}

                    </div>


                </div>



              
                <div class="page-list">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" class="next">next</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--/wellcome-seciton-->
       
        <!--.footer-section-->
        <footer class="footer-section widget">
            <div class="container ">
                
                    <div class="footer-item">
                        
                        
                            
                                <h2>Information</h2>
                                
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.24 Matadi Street, Zone 3 , Wuse.Abuja  </h5>
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.89, Randle Avenue Surulere. Lagos.  </h5>
                                <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>mannersdevelopementfoundation@gmail.com</h5>
                                <h5><i class="fa fa-phone" aria-hidden="true"></i>+234-8033083888, +234-8092211445</h5>
                            
                        

                        
                    </div>
                
            </div>
        <div class="footer-bottom">
            <p><span><a target="_blank" href="index.html">Manners Development Foundation</a></span> </p>
        </div>
    </footer>
    <!--/footer-section-->

    </div>
    <!--Page Wrapper End-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/html5lightbox/html5lightbox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/revolution.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>












</body>


</html>