{% load static %}
<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <title> MDF </title>
    <!-- Stylesheets -->


	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href='{% static "stylescss/responsive.css" %}'>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    	<link rel="stylesheet" href='{% static "styles/bootstrap.css" %}'>
        <link rel="stylesheet" href='{% static "styles/style.css" %}'>
        <link rel="stylesheet" href='{% static "styles/revolution-slider.css" %}'>
        <link rel="stylesheet" href='{% static "styles/animate.css" %}'>
        <link rel="stylesheet" href='{% static "styles/font-awesome.css" %}'>
         <link rel="stylesheet" href='{% static "styles/owl.css" %}'>
          <link rel="stylesheet" href='{% static "styles/responsive.css" %}'>

    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




</head>

<body>
    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!-- Preloader --> 
        <div class="preloader"></div>

        <!--Header top area-->
        <header class="main-header header-style-one">
            <section class="header-top">
                <div class="container">
                    <div class="header">
                        <div class="header-top-left">
                            <ul>
                             <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                        </div>
                        <div class="header-top-right">
                            <ul>
                                <li>
                                    <a href="#"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span> kindness@yahoo.com</a></li>
                                <li><p><span><i class="fa fa-phone" aria-hidden="true"></i></span>012.9355.121</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--/header_top_area-->

                <section class="mainmenu-area">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="{% url 'home'%}"><img src="{% static 'images/logo.png'%}" alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li ><a href="{% url 'home'%}">Home</a></li>
                            <li class="current dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="{%url 'post_onlinelearning'  %}">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="{%url 'post_mdfprojects' %}"> MDF Projects </a></li>
                                </ul>
                            </li>
                              <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>



                        </ul>
                        <ul class="mobile-menu clearfix">

                            <li class="current dropdown"><a href="index.html">Home</a></li>
                            <li class="dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="{%url 'post_onlinelearning'  %}">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="{%url 'post_mdfprojects' %}"> MDF Projects </a></li>
                                </ul>
                            </li>
                        <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </nav>

                </div>
            </section>
            <!--Main-Mane-->
            <section class="bounce-in-header">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="index.html"><img src="{%static 'images/logo.png'%}"  alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown"><a href="{% url 'home' %}">Home</a></li>
                             <li class="dropdown"><a href="causes.html">Activities</a>
                                <ul>
                                    <li><a href="{%url 'post_onlinelearning' %}">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="{%url 'post_mdfprojects' %}"> MDF Projects </a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>

                        <ul class="mobile-menu clearfix">

                            <li class="current dropdown"><a href="{%url 'home' %}">Home</a>

                            </li>



                            <li><a href="{% url 'gallery'%}">Gallery</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'team' %}">Team</a></li>
                            <li ><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                </div>
            </section>
            <!--Main-Mane-->
            <section class="bounce-in-header">
                <div class="container">
                 <div class="logo pull-left">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <nav class="main-menu pull-left">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li><a href="{% url 'home' %}">Home</a></li>

                            <li class="current dropdown"><a href="#">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>

                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>

                        <ul class="mobile-menu clearfix">

                            <li><a href="index.html">Home</a></li>
                            <li class="current dropdown"><a href="#">Activities</a>
                                <ul>
                                    <li><a href="onlinelearning.html">Arabic & Quranic Online Learning Program</a></li>
                                    <li><a href="hair.html"> Hairdressing & Barbing </a></li>
                                    <li><a href="agriculture.html"> Agriculture & livestock Farming </a></li>
                                    <li><a href="ramadan.html">Ramadan Program</a></li>
                                    <li><a href="outreach.html"> Community Outreach by MDF </a></li>
                                    <li><a href="mdfprojects.html"> MDF Projects </a></li>
                                </ul>
                            </li>

                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                </div>
            </section>
            <!--/Main-Menu-->
        </header>
        <!--Start slider-section-->
        <section class="slider-section" style="background-image:url(images/gallery/background.jpeg);">
            <div class="container">
                <div class="slider">
                    <div class="text team-light">
                        <h2>BLOG <span>details</span> </h2>
                        <p><a href="index.html">Home</a> <i class="fa fa-angle-right" aria-hidden="true"></i> Details</p>
                    </div>
                </div>
            </div>
        </section>
        <!--End slider-section-->
        <!--.blog-seciton-->
        <section class="blog-seciton blog-pag">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <!-- Start single-item -->
                        <div class="blog-item clearfix">
                            <div class="img-holder">
                               <figure><img src="images/blog/15.jpg" alt="Images"></figure>
                            </div>
                            <div class="item-text clearfix">
                                <div class="date">
                                   <h4>19<span class="sep">th <span>sep,</span> 2017</span></h4>
                               </div>
                                <div class="text">
                                    <h5><i class="fa fa-user" aria-hidden="true"></i>By <span>{{posts.writer_name}}</span></h5>
                                    <h5 class="road"><i class="fa fa-map-marker" aria-hidden="true"></i>By <span>Hazi mohshin road, khulna</span></h5>
                                    <h4>we will go for giving gift!</h4>
                                </div>
                            </div>
                            <p>{{posts.article}}</p>
                            <p>Eet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse pi. Ut convallis, sem sit ame
                                quam leo, nec dapibus tortor nibh sed augue.</p>
                            <div class="tags">
                                <p class="border"><i class="fa fa-window-restore" aria-hidden="true"></i>Category:  <span>nonprofit</span></p>
                                <p><i class="fa fa-tag" aria-hidden="true"></i>tags:  <span> charity, fund</span></p>
                            </div>
                        </div>
                        <!-- End single-item -->
                        <div class="comment clearfix">
                            <div class="comment-box ">
                                <h2>Comments on this post</h2>
                                <div class="img-box">
                                    <img src="images/blog/10.png" alt="Images">
                                    <h4>niltoi kona</h4>
                                    <h5>25th Feb, 2017</h5>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. 
                                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                    <a href="#">Reply</a>
                                </div>
                                <div class="img-box">
                                    <img src="images/blog/10.png" alt="Images">
                                    <h4>niltoi kona</h4>
                                    <h5>25th Feb, 2017</h5>
                                    <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. 
                                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="default-form clearfix">
                                <h2>leave a comment here</h2>
                                <form method="post" action="http://perconcept.muzahid.com/Kindness/sendemail.php" class="contact-form">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                           <div class="form-group">
                                                <input type="text" name="lastname" placeholder="your Name">
                                            </div> 
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                           <div class="form-group">
                                                <input type="email" name="email" placeholder="Email address">
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group comments">
                                        <textarea type="text" name="message" placeholder="Comment here"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-3">send us</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <!-- Start side-bar -->
                        <div class="side-bar">
                            <div class="side-search">
                                <ul class="search-bar">
                                    <li>
                                        <form action="#">
                                            <input type="text" placeholder="Enter Your Keyword">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </li>
                                </ul>
                                <h5>Looking For A Good Place</h5>
                            </div>
                            <div class="similar">
                                <h2>Similar Causess</h2>
                                <!-- Start single-item -->
                                <div class="blog-item mar-0">
                                    <div class="img-holder">
                                       <figure><a href="single-blog.html"><img src="images/blog/3.jpg" alt="Images"></a></figure>
                                    </div>
                                    <div class="text">
                                        <h4><a href="single-blog.html">Children’s National<br>festival for learning</a></h4>
                                        <h5><i class="fa fa-user" aria-hidden="true"></i>By <span>John Doe</span></h5>
                                        <h5><i class="fa fa-map-marker" aria-hidden="true"></i>By <span>John Doe</span></h5>
                                        <a href="single-blog.html"class="dont-btn">Read more</a>
                                    </div>
                                </div>
                                <!-- End single-item -->
                            </div>
                            <div class="category">
                                <h2>category</h2>
                                <ul>
                                    <li><a href="#">Food<span>(10)</span></a></li>
                                    <li><a href="#">Nonprofit<span>(8)</span></a></li>
                                    <li><a href="#">Wedding<span>(5)</span></a></li>
                                    <li><a href="#">Architecture<span>(13)</span></a></li>
                                </ul>
                            </div>
                            <div class="category">
                                <h2>Archives</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>October 2014</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> November 2014</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>December 2014</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>January 2015</a></li>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Feberuary 2015</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>March 2015</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Eind side-bar -->
                    </div>
                </div>
            </div>
        </section>
        <!--/blog-seciton-->
        <!--.news-seciton-->
        <div class="news-seciton">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="news-text">
                            <h4>Newsletter Sign-up</h4>
                            <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <div class="news-form">
                            <input type="text" name="lastname" placeholder="Full Name" value="">
                            <input type="email" name="email" placeholder="Email" value="">
                            <button type="submit" class="btn news-btn">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/news-seciton-->
        <!--.footer-section-->
        <footer class="footer-section widget">
            <div class="container ">
                
                    <div class="footer-item">
                        
                        
                            
                                <h2>Information</h2>
                                
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.24 Matadi Street, Zone 3 , Wuse.Abuja  </h5>
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> No.89, Randle Avenue Surulere. Lagos.  </h5>
                                <h5><i class="fa fa-envelope-o" aria-hidden="true"></i>mannersdevelopementfoundation@gmail.com</h5>
                                <h5><i class="fa fa-phone" aria-hidden="true"></i>+234-8033083888, +234-8092211445</h5>
                            
                        

                        
                    </div>
                
            </div>
        <div class="footer-bottom">
            <p><span><a target="_blank" href="index.html">Manners Development Foundation</a></span> </p>
        </div>
    </footer>
    <!--/footer-section-->

    </div>
    <!--Page Wrapper End-->

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/html5lightbox/html5lightbox.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/revolution.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>












</body>


</html>